# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

[flake8]
exclude =
    .git,
    __pycache__,
# E203: Whitespace before ':'. Addresses a discrepancy with Black slice formatting.
ignore = E203, W503
max-line-length = 99