version: "3"

services:
  klaatu:
    build:
      dockerfile: Dockerfile.desktop
    volumes:
      - ./test_experiments:/code/test_experiments
      - ./tests:/code/tests
    links:
      - ping-server
  ping-server:
    build: ping_server/
    ports:
      - "5000:5000"