[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pytest-selenium = "*"
urllib3 = "<1.25.0"
beautifulsoup4 = "*"
foxpuppet = "*"
mypy = "*"
pytest-ordering = "*"
pytest-firefox = "*"
requests = "*"
pytest-aiohttp = "*"
pytest-rerunfailures = "*"
typing-extensions = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
download_old_firefox = "python utilities/download_old_firefox.py"
download_release_firefox = "python utilities/download_release_firefox.py"
telemetry_server = "python utilities/telemetry_server.py"
