version: 2.1

jobs:
  build-deploy: # build for the master branch
    machine:
      image: ubuntu-2204:2024.01.1
    working_directory: ~/klaatu
    steps:
      - checkout
      - run:
          name: Build docker image and push to repo
          command: |
            docker version
            docker build -t klaatu .
            docker tag klaatu mozilla/klaatu:latest
            docker login -u "${DOCKERHUB_USER}" -p "${DOCKERHUB_PASS}"
            docker push mozilla/klaatu:latest
  build-release: # build for tags
    machine:
      image: ubuntu-2204:2024.01.1
    working_directory: ~/klaatu
    steps:
      - checkout
      - run:
          name: Build docker image and push to repo
          command: |
            docker version
            docker build -t klaatu .
            docker tag klaatu "mozilla/klaatu:${CIRCLE_TAG}"
            docker login -u "${DOCKERHUB_USER}" -p "${DOCKERHUB_PASS}"
            docker push "mozilla/klaatu:${CIRCLE_TAG}"
  lint:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - restore_cache:
          key: klaatu-lint-{{ checksum "poetry.lock" }}
      - run:
          name: Install tox
          command: pip install tox
      - run:
          name: Lint files
          command: tox -e formatting
      - save_cache:
          key: klaatu-lint-{{ checksum "poetry.lock" }}
          paths:
            - .tox
  test-nightly-firefox:
    working_directory: ~/klaatu
    machine:
      image: ubuntu-2204:2024.01.1
    environment:
      FIREFOX_VERSION: -nightly
    steps:
      - checkout
      - run:
          name: Build docker image
          command: docker compose up -d --build
      - run:
          name: Print firefox version
          command: docker compose run -it klaatu bash -c "firefox --version"
      - run:
          name: Run tests
          command: |
            docker compose up -d
            docker compose run klaatu tox -e bdd-tests -- --reruns 2 --experiment-branch control --variables tests/fixtures/test_experiment.json --run-update-test --private-browsing-enabled
      - store_artifacts:
          path: tests/report.html
  test-beta-firefox:
    working_directory: ~/klaatu
    machine:
      image: ubuntu-2204:2024.01.1
    environment:
      FIREFOX_VERSION: -beta
    steps:
      - checkout
      - run:
          name: Build docker image
          command: docker compose up -d --build
      - run:
          name: Print firefox version
          command: docker compose run -it klaatu bash -c "firefox --version"      
      - run:
          name: Run tests
          command: |
            docker compose up -d
            docker compose run klaatu tox -e bdd-tests -- --reruns 2 --experiment-branch control --variables tests/fixtures/test_experiment.json --run-update-test --private-browsing-enabled
      - store_artifacts:
          path: tests/report.html
  test-release-firefox:
    working_directory: ~/klaatu
    machine:
      image: ubuntu-2204:2024.01.1
    environment:
      FIREFOX_VERSION: 
    steps:
      - checkout
      - run: 
          name: Build docker image
          command: docker compose up -d --build
      - run:
          name: Print firefox version
          command: docker compose run -it klaatu bash -c "firefox --version"
      - run: 
          name: Run tests
          command: |
            docker compose up -d
            docker compose run klaatu tox -e bdd-tests -- --reruns 2 --experiment-branch control --variables tests/fixtures/test_experiment.json --private-browsing-enabled
      - store_artifacts:
          path: tests/report.html
workflows:
  version: 2.1
  test_and_lint:
    jobs:
      - build-deploy:
           requires:
              - test-nightly-firefox
           filters:
             branches:
               only: master
      - build-release:
           requires:
              - test-nightly-firefox
           filters:
             tags:
               only: /.*/
             branches:
               ignore: /.*/
      - lint
      - test-release-firefox
      - test-beta-firefox
      - test-nightly-firefox
  weekly-test-and-build:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - build-deploy:
          requires:
            - test-release-firefox
            - test-beta-firefox
            - test-nightly-firefox
      - test-release-firefox
      - test-beta-firefox
      - test-nightly-firefox
